
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html#/menu">Menu</a></li>
                   <li class="active">Cart</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>My Cart</h3>
               <hr>
            </div>
        </div>
          <button ng-click="toggleDelete()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showDelete ? 'Hide Delete Button':'Show Delete Button'}}
                </button>
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showMenu">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showMenu">
            
                <div class="tab-content">
               <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="dish in dishes | filter:filtText">
                    <div class="media-left media-middle">
                        <a ui-sref="app.dishdetails({id: dish._id})">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{dish.name}}
                            <span class="pull-right">{{dish.price/100 | currency}}</span></h3>
                         <button  ng-show="showDelete" ng-click="deleteCart(dish._id)" class="btn btn-xs btn-danger pull-right"
                    type="button">
                          <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </li>
            </ul>
            <div class="media-body">
            <h3 class="media-heading" >TOTAL
                <span class="pull-right">{{total()/100|currency}}</span></h3>
                  <small class="media-heading" >GST
                <span class="pull-right">{{total()/1000|currency}}</span></small>
            </div>
            </div>
            <div class="form">
                <h3>Cash : <input type="number" ng-model="Cash"></h3>
                <button ng-click="checkout()" class="pull-right">Proceed to Checout</button>
                <h3 class="media-heading" >CHANGE
                <span class="pull-right"></span>{{Change(Cash)/100|currency}}</h3>
            </div>    
            </div>
        </div>

    </div>
