
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html#/menu">Menu</a></li>
                   <li class="active">Dish Details</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Dish Details</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button> 
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" 
                        ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}} 
                        <span class="label label-danger">{{dish.label}}</span> 
                        <span class="badge">{{dish.price/100 | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                   <h4>Customer Comments &nbsp;&nbsp;&nbsp;
                       <small>Sort by: &nbsp; 
                            <input type="text" ng-model="orderText"> 
                       </small></h4>
                    <ul class="list-unstyled">
                        <li ng-repeat="comment in dish.comments | orderBy:orderText">
                          <blockquote>
                             <p>{{comment.rating}} Stars</p>
                             <p>{{comment.comment}}</p>
                             <footer>{{comment.postedBy.firstname}} {{comment.postedBy.lastname}}, {{comment.updatedAt | date:'MMM. dd, yyyy'}}</footer>
                          </blockquote>
                        </li>
                    </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                    <ul class="list-unstyled" ng-show="commentForm.$valid && !commentForm.$pristine">
                        <li>
                          <blockquote>
                             <p>{{mycomment.rating}} Stars</p>
                             <p>{{mycomment.comment}}</p>
                          </blockquote>
                        </li>
                    </ul>
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                    <div class="form-group">
                       <label for="numpeople" class="col-sm-2 control-label">
                        Number of Stars</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                            <input type="radio" name="rating" ng-model="mycomment.rating"
                             id="rating1" value=1> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating"
                                 id="rating2" value=2> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating"
                                 id="rating3" value=3> 3
                            </label>
                             <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating"
                                 id="rating4" value=4> 4
                            </label>
                             <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating"
                                 id="rating5" value=5 checked> 5
                            </label>
                        </div>
                    </div>                    
                    <div class="form-group"  ng-class="{ 'has-error' : commentForm.comments.$error.required && !commentForm.comments.$pristine }">
                        <label for="comments" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="12" name="comments"
                                ng-model="mycomment.comment" required>
                            </textarea>
                         <span ng-show="commentForm.comments.$error.required && !commentForm.comments.$pristine" class="help-block">Your comments are required.</span>
                       </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
