
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html#/menu">Menu</a></li>
                   <li class="active">Favorites</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>My Favorites</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showMenu">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showMenu">
                 <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showDetails ? 'Hide Details':'Show Details'}}
                </button>
                 <button ng-click="toggleDelete()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showDelete ? 'Hide Delete Button':'Show Delete Button'}}
                </button>
                  <ul class="nav nav-tabs" role="tablist" >
                    <li role="presentation"><a role="tab" ng-click="clear()"
                    >All</a></li>
                    <li ng-repeat="dish in dishes"  role="presentation" ng-class="{active:isSelected(dish.category)}">
                    <a role="tab" ng-click="select2(dish.category)"
                    >{{dish.category}}</a></li>
                </ul>
             
                <div class="tab-content">
               <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="dish in dishes | filter:filtText">
                    <div class="media-left media-middle">
                        <a ui-sref="app.dishdetails({id: dish._id})">
                        <img class="media-object img-thumbnail"
                        ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger label-xs">{{dish.label}}</span>
                        <span class="badge">{{dish.price/100 | currency}}</span></h2>
                        <p ng-show="showDetails">{{dish.description}}</p>
                         <button  ng-show="showDelete" ng-click="deleteFavorite(dish._id)" class="btn btn-xs btn-danger pull-right"
                    type="button">
                          <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </li>
            </ul>

            </div>
            </div>
        </div>

    </div>
